body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
main{
    margin: 0px;
    border: 0px;
    background-color: rgb(160, 156, 151);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 20px rgba(169, 23, 23, 0.2),
                3px 3px 5px rgba(255, 255, 255, 0);
   
}
.buttons input{
    height: 50px;
    width: 50px;
    box-shadow: -2px -2px 5px rgb(33, 32, 32),
                5px 5px 5px rgb(33, 32, 32);
    margin: 5px;
    font-weight: bolder;
    font-size: large;
   

}
.display input{
    height: 50px;
    width: 250px;
    margin-top: 10px 10px 20px ;
    display: flex;
    text-align: right;
    box-shadow: inset 5px 5px ;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3),
                    -1px -1px 1px;
    font-size: large;               
    
}
#equal{
    width: 113;
    background-color: green;
}
.clear{
    background-color: rgb(205, 22, 22);
}
.operator{
    background-color: rgb(13, 169, 109);
}
input:hover{
    background-color: blue;
}